@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.font-title {
  font-family: "Noto Serif", serif;
  font-weight: bold;
}

.font-description {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(245, 248, 255);
  font-family: "Inter", sans-serif;
}

/*----------Common Section----------*/
.display-flex {
  display: flex;
}

.common-size {
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;
}
.common-color {
  color: rgba(233, 90, 8, 1);
}
/*----------Header Section Style----------*/
/* nav section start style */
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 12px 0;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.nav-links li a {
  text-decoration: none;
  margin-left: 48px;
}
.home-color {
  color: rgb(37, 36, 50);
  font-weight: bold;
}
.others-color {
  color: rgb(137, 135, 161);
}
.color-3 {
  color: rgba(0, 0, 0, 1);
}

/*----------Main Section Style----------*/
/* hero section style start */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px auto 0px;
}
.hero-container h1 {
  font-size: 4rem;
}
.hero-container p {
  font-size: 1.37rem;
}
/* card section style */
.card-container-main {
  margin-top: 120px;
}
.card-container-name h1 {
  text-align: center;
  font-size: 3.13rem;
  font-weight: bold;
  margin-bottom: 1.1rem;
}
.card-container-name p {
  text-align: center;
  font-size: 1.38rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20;
}
.card {
  margin-top: 49px;
}
.card img {
  margin-bottom: 30px;
}
.card h3 {
  color: rgb(17, 17, 17);
  text-align: center;
  font-size: 1.38rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.card h2 {
  color: rgb(17, 17, 17);
  text-align: center;
  font-size: 1.38rem;
  font-weight: 900;
  margin-bottom: 30px;
}
.card-btn {
  display: flex;
  text-align: center;
  margin: 30px auto 0;
  color: rgb(255, 255, 255);
  background-color: rgb(233, 90, 8);
  padding: 10px 55px;
  font-weight: 700;
  border: none;
  font-size: 1.5rem;
}

/* flower section style */
.flower-main {
  margin: -50px auto 0px;
}
.flower-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.flower-site {
  margin: 0px 0px 19px 50px;
  text-align: left;
}
.flower-site h1 {
  font-size: 3.13rem;
  font-weight: bold;
}
.flower-site ul li {
  font-size: 1.37rem;
  margin-left: 35px;
  margin-top: 20px;
}
.flower-img {
  width: 100%;
}
.middel-img {
  width: 300px;
  height: 300px;
  position: relative;
  left: 500px;
  top: 330px;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.22));
}

/* latest-deals section style */
.latest-deals-container {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 123px;
}

.latest-deals-container h1 {
  font-size: 3.13rem;
  font-weight: bold;
  margin-bottom: 1.1rem;
}
.latest-deals-container p {
  font-size: 1.38rem;
}

/* parcent section style */
.parcent-container {
  display: flex;
  gap: 28px;
  width: 100%;
  height: 423px;
}
.parcent-left {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 367px;
  height: 423px;
}
.parcent-left-1 {
  background-image: url(./assets/deal-bloom.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 367px;
  height: 197px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: brightness(90%);
}
.parcent-left-1 h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
}
.parcent-left-1 a {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
}
.parcent-left-2 {
  background-image: url(./assets/deal-ana.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 367px;
  height: 197px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: brightness(80%);
}
.parcent-left-2 h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
}
.parcent-left-2 a {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
}
.parcent-right {
  text-align: center;
  background-image: url(./assets/deal-zabo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 32px 32px;
  width: 753px;
  height: 423px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: brightness(80%);
}
.parcent-right h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
}
.parcent-right a {
  color: rgba(255, 255, 255, 1);
  font-size: 1.75rem;
}

/* join section start */
.join-container {
  background-image: url(./assets/news-letter-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 533px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.join-dtls {
  width: 830px;
  margin: 0 auto;
}
.join-dtls > h1 {
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
  font-size: 3.13rem;
}
.join-dtls > input {
  padding: 10px 500px 08px 15px;
  border: none;
}

.join-btn {
  color: rgba(255, 255, 255, 1);
  background-color: rgb(233, 90, 8);
  padding: 10px 41px;
  border: none;
  margin-left: -5px;
  font-weight: 500;
}
/*----------Footer Section Style----------*/

/*----------Responsive Section Start----------*/
@media screen and (max-width: 576px) {
  .navigation-bar,
  .hero-container,
  .card-container-main,
  .flower-container,
  .latest-deals-container {
    max-width: 90%;
  }
  .nav-links > li {
    display: none;
  }
  .navigation-bar {
    margin-top: 67px;
  }
  .navigation-bar > img {
    width: 63px;
    height: 36px;
  }
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 28px;
  }
  .hero-container img {
    width: 111%;
  }
  .hero-container h1 {
    font-size: 1.5rem;
  }
  .hero-container p {
    font-size: 0.95rem;
  }

  .card-container-main {
    width: 90%;
    margin-top: 65px;
  }
  .card-container-name h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  .card-container-name p {
    font-size: 1.1rem;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .card img {
    width: 100%;
  }
  .card-btn {
    padding: 15px 11px;
    font-weight: 500;
    font-size: 1.4rem;
  }
  .flower-main {
    margin: 81 auto;
  }
  .flower-container {
    flex-direction: column;
    gap: 18px;
    margin: 100px auto 0;
  }
  .flower-main > img {
    display: none;
  }
  .flower-img > img {
    width: 100%;
  }
  .flower-site {
    margin: 0 auto;
    text-align: left;
  }
  .flower-site h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .flower-site ul li {
    font-size: 0.78rem;
    margin-left: 25px;
    margin-top: 16px;
  }

  .latest-deals-container {
    width: 100%;
    margin: 65px auto 0;
  }
  .latest-deals-container h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    width: 100%;
  }
  .latest-deals-container p {
    font-size: 1.1rem;
    width: 99%;
    margin: 0 auto;
  }

  .parcent-container {
    margin-top: 51px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  .parcent-right {
    width: 367px;
    height: 197px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: brightness(80%);
    border-radius: 20px;
  }
  .parcent-right h3 {
    font-size: 1.35rem;
  }
  .parcent-right a {
    font-size: 1.12rem;
  }
  /* join section start */
  .join-container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -20px;
  }
  .join-dtls {
    width: 100%;
    height: 10%;
  }
  .join-dtls > h1 {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  .join-dtls > input {
    padding: 8px 50px 08px 10px;
    border: none;
    margin-bottom: 10px;
  }

  .join-btn {
    padding: 08px 15px;
    border: none;
    margin-left: -5px;
    margin-bottom: 10px;
    font-weight: 500;
  }
}
